:root {
    --primary-100:#FFD700;
    --primary-200:#ddb900;
    --primary-300:#917800;
    --accent-100:#c49216;
    --accent-200:#5e3b00;
    --text-100:#dcdcdc;
    --text-200:#929292;
    --bg-100:#1E1E1E;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
      
}
/* Reset padrão para limpar estilos do navegador */
* {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    max-width: 80vw;

  }
  
  /* Estilo geral da página */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-100);
    background-color: var(--bg-100);
  }
  
  h1,
  h2 {
    color: var(--primary-100);
    margin-bottom: 20px;
  }
  
  /* Estilo do cabeçalho */
  header {
    text-align: center;
    padding: 20px 0;
    background-color: var(--bg-200);
  }
  
  /* Estilo do formulário de contato */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: var(--text-200);
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-200);
    color: var(--text-100);
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-100);
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--primary-200);
  }
  
  /* Estilo dos elementos da seção de informações de contato */
  #informacoes-contato ul {
    list-style: none;
  }
  
  #informacoes-contato li {
    margin-bottom: 10px;
    color: var(--text-200);
  }
  
  /* Estilo do mapa */
  #endereco-mapa iframe {
    width: 100%;
    height: 400px;
    border: none;
  }
  
  /* Estilo das redes sociais */
  #redes-sociais ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #redes-sociais li {
    margin: 0 10px;
  }
  
  #redes-sociais a {
    color: var(--text-200);
    text-decoration: none;
  }
  
  #redes-sociais a:hover {
    color: var(--accent-100);
  }
  
  /* Estilo do FAQ */
  #faq dt {
    color: var(--text-100);
    margin-top: 20px;
  }
  
  /* Estilo dos links de política de privacidade e termos de uso */
  #politica-privacidade li {
    margin-bottom: 10px;
  }
  
  #politica-privacidade a {
    color: var(--text-200);
    text-decoration: none;
  }
  
  #politica-privacidade a:hover {
    color: var(--accent-100);
  }
  
  /* Estilo das informações adicionais */
  #informacoes-adicionais ul {
    list-style: none;
  }
  
  #informacoes-adicionais li {
    margin-bottom: 10px;
    color: var(--text-200);
  }
  
  /* Estilo do chat ou suporte online */
  #chat-suporte button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-100);
    color: white;
    cursor: pointer;
  }
  
  #chat-suporte button:hover {
    background-color: var(--accent-200);
  }
  
  /* Estilo do rodapé */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--bg-200);
    color: var(--text-200);
  }
  