/* Reset CSS para limpar estilos padrão do navegador */

header {
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #33333386;
}

.hero-section {
  background-image: url('https://img.freepik.com/fotos-gratis/jovem-se-exercitando-com-fones-de-ouvido-no-ginasio-gerado-por-ia_188544-21524.jpg?w=900&t=st=1687910687~exp=1687911287~hmac=ef70ae7923684646e01c43257e76bd9a6d439319d78ca2602ab661aee24709fe');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.cta-button:hover {
  background-color: #ff6600a6;
}

.features-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
}

.features-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.features-section h3 {
  padding-bottom: 20px;
}

.features {
  display: flex;
  justify-content: space-around;
}

.feature {
  max-width: 300px;
  margin-bottom: 20px;
}

.feature i {
  font-size: 2rem;
  height: 50px;
  margin-bottom: 10px;
}

.testimonials-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #f4f4f4;
}

.testimonials-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.testimonials {
  display: flex;
  justify-content: space-around;
}

.testimonial {
  max-width: 400px;
  margin-bottom: 20px;
}

.testimonial img {
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial blockquote {
  font-size: 16px;
  margin-bottom: 10px;
}

.testimonial cite {
  font-size: 14px;
  font-style: italic;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}